nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/')  
         img(src='/img/apple-touch-icon.png', alt='logo', width='80px', height='50px')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            li.nav-item
              a.nav-link.active(aria-current='page', href='/warehouse-one-two') Warehouse 1-2
            li.nav-item
              a.nav-link(href='#') Warehouse 3
            //- li.nav-item
            //-   a.nav-link(href='')  LogIn
            //- li.nav-item
            //-   a.nav-link(href='/signup')  Sign up
            li.nav-item
              a.nav-link(href='#').nav__el.nav__el--logout Log out  
            //- li.nav-item
            //-   a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled