extends base 

mixin navItem(link,text,icon,active)
    li(class=`${active ? 'side-nav-active' : ''}`)  
      a(href=`$link}`)
        svg 
          use(xlink:href=`img/icons.svg#icon-${icon}`)
          | #{text}

block content 
    main.main
     .user-view
        nav.user-view__menu
            ul.side-nav
                +navItem('#','Settings','Settings',true)
                +navItem('#','My Bookings','briefcase')
                +navItem('#','My Reviews','star')
                +navItem('#','Billing','Settings','credit-card')

            .admin-nav
                h5.admin-nav__heading Admin
                ul.side-nav
                +navItem('#','Manage Tours','map')
                +navItem('#','Manage Users','users')
                +navItem('#','Manage reviews','star')
                +navItem('#','Manage bookings','briefcase')