extends base
block content
  table
      thead 
        tr
          th Consolidator
          th Contact
          th Country
      tbody
        each stuffing in stuffingReportWarehouseOneTwo
            tr
                td= stuffing.consolidator
                td= stuffing.arrived
                td= stuffing.inward_cbm